<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <!-- Logo di kiri -->
    <a class="navbar-brand" href="#">
      <img src="../public/images/github-mark.png" alt="Logo" style="height: 30px;">
    </a>

    <!-- Tombol toggle untuk tampilan mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar konten -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/todo-view">Todo</a>
        </li>
      </ul>
      <div>
        <a href="/login" class="btn btn-danger">Sign Out</a>
      </div>
    </div>
  </div>
</nav>
