<link rel="stylesheet" href="../public/css/style.css">
<div class="container">
    <h1>Welcome to the Home Page!</h1>
    <p>This is the home page of our application. Navigate to the page you need:</p>
    <div class="button-group">
        <a href="/contact" class="btn btn-primary">Go to Contact Page</a>
        <a href="/todo" class="btn btn-secondary">Go to Todo Page</a>
    </div>
</div>

<footer class="footer">
    <div class="container text-center">
        <p>&copy; 2024 Todo App. All Rights Reserved. By Muhammad Akbar Kurniawan</p>
    </div>
</footer>
