    <title>Login</title>
    <link rel="stylesheet" href="../public/css/login.css">
<body>
    <div class="form-container">
        <img src="../public/images/github-mark.png" alt="Logo">
        <h1>Login</h1>
        <p>Masukkan username dan password Anda untuk masuk.</p>
        <form action="/login" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p class="mt-3">Belum punya akun? <a href="/signup" class="link-text">Daftar di sini</a>.</p>
    </div>
</body>
</html>
